<!DOCTYPE html>
{% load static %} 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAMSUNG</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    
</head>
<body>
    <div>
        <h2>Samsung Town (Samsung Digital City)</h2>
        <p>The Samsung Town (Korean: 삼성타운) is a major office park in Seocho-gu in Seoul, <br> South Korea. It serves as the IT and electronics hub for the multinational corporation <br> Samsung. The building has a floor area of 110,800 m² with 20,000 resident <br> employees, and President Lee Kun-hee's office was located on the 42nd floor of <br> Building C. Samsung Electronics, Samsung C&T, and Samsung Life Insurance <br> have built three buildings which are 44, 34 and 32 stories respectively. <br> Samsung Town was designed by Kohn Pedersen Fox. Samsung Electronics <br> and Samsung C&T have already begun to move into the houses while Samsung <br> Life Insurance is leasing its property to Samsung Electronics and other affiliates.</p>
    </div>
    <div>
        <img width="45%" src="{% static 'images/img1.jpg' %}" alt="">
    </div>
</body>
</html>