<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <div>
        <h1>Buy your galaxy phone</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse cupiditate voluptatem libero alias, aut animi similique deserunt corporis saepe earum beatae minima velit tempore consectetur laborum mollitia non dignissimos ad perferendis pariatur numquam, reprehenderit rerum ipsa? Accusamus eum alias eveniet neque rem explicabo, consectetur impedit blanditiis debitis tempore nam aliquam quas ullam veniam voluptatum. Repudiandae molestiae eligendi dignissimos reprehenderit temporibus similique libero nobis porro aspernatur, modi, nulla eos itaque. Ducimus omnis at adipisci expedita suscipit eligendi id vero ut a natus dignissimos non similique, atque, fugiat repudiandae laboriosam minus quae rerum explicabo. Beatae vero nesciunt, aspernatur earum iusto veritatis est.</p>
    </div>

    <div>
        <h1>Buy your iphone</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima, fugiat laboriosam delectus eaque quos dolorum adipisci obcaecati ab! Est nulla iure fuga distinctio quae illum nostrum unde dolores nemo non? Voluptatem voluptates eveniet tempora eum laudantium in, provident veniam omnis atque dolore quaerat accusantium neque, dolorem fugiat quibusdam adipisci nostrum repudiandae expedita magnam perspiciatis! Unde sit enim delectus aut animi consequuntur vero voluptatibus iusto quibusdam fugiat nisi ex officiis officia, autem, ipsa suscipit natus molestias architecto dolore ipsum. Quis corporis quibusdam accusamus sapiente amet, ut debitis repudiandae repellat asperiores quo, autem, vero molestiae rem commodi! Doloribus optio laudantium ipsum pariatur.</p>
    </div>
</body>
</html>