<!DOCTYPE html>
{% extends 'yourapp/base.html' %}
{% block my_block %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars Collection</title>
</head>
<body>
    <h2>Cars in my office</h2>
    <table class="table w-25">
        <thead>
            <tr>
                <th scope="col">Brand</th>
                <th scope="col">Model</th>
                <th scope="col">Year</th>
            </tr>
        </thead>

        {% for car in cars %}
        
        <tr>
            <td scope="row">{{ car.brand }}</td>
            <td scope="row">{{ car.model }}</td>
            <td scope="row">{{ car.year }}</td>
        </tr>

        {% endfor %}

    </table>
</body>
</html>

{% endblock my_block %}