<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORM</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
    <div>
        <h1 id="my-style">{{ heading }}</h1>
        <form action="" method="POST">
        {{ form.as_p }}
        {% csrf_token %}
        <input id="btn-style" type="submit" name="submit" value="Submit">
    </form>
    </div>
    <div>
        {% if submited %}
            <p>Name: {{ name }}</p>
            <p>Email: {{ email }}</p>
            <p>Date of Birth: {{ dob }}</p>
            <p>Address: {{ address }}</p>
        {% endif %}
    </div>
</body>
</html>