{% extends 'my_app/base.html' %}
{% block body_block %}
<h5>Actor: {{ actor_info.name }}</h5>
<h5>Nationality: {{ actor_info.nationality }}</h5>
<a href="{% url 'your_app:edit_actor' actor_id=actor_info.id %}" class="btn btn-success btn-sm">Edit</a>
<hr>
<h2>list of movies</h2>
<table class="table w-50 table-bordered">
    <tr>
        <th>Movie</th>
        <th>Release Date</th>
        <th>Rating</th>
    </tr>
    {% for movie in movie_list %}
    <tr>
        <td><a href="{% url 'your_app:edit_movie' movie_id=movie.id %}">{{ movie.movie_name }}</a></td>
        <td>{{ movie.release_date|date:"M d, Y" }}</td>
        <td>{{ movie.rating_star }}</td>
    </tr>
    {% endfor %}
</table>
<br>
<a href="{% url 'your_app:delete_actor' actor_id=actor_info.id %}" onclick="return confirm('Are your sure?')" class="btn btn-danger btn-sm">Delete</a>
{% endblock body_block %}